:root {
    --overlay-color: linear-gradient(180deg, rgba(23,50,104,1) 0%, rgba(23,50,104,1) 78%, rgba(255,255,255,1) 100%);
    --menu-speed: 0.75s;
}

.dc-hamburguesa {
    width: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    margin-top: 7px;
}

.hamburger {
    background: none;
    position: relative;
    color: #FFF;
    border: 0;
    font-size: 1.4em;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    z-index: 1005;
}

.cross {
    background: none;
    position: relative;
    top: -20px;
    color: #FFF;
    border: 0;
    font-size: 4.0em;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    z-index: 1005;
}

.hamburger-menu {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    left: 0px;
    z-index: 1000;
    top: 90px;

    background: var(--overlay-color);

    opacity: 0;
    transform: scale(0);
    transition: .3s ease opacity,.3s ease transform;
}

