* {
    margin: 0;
    padding: 0;
}

/* --------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/
.dc-menu-cont {
    display: flex;
    width: 100%;
    position: fixed;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    left: 0px;
    z-index: 1000;
    top: 0px;
}

/* --------------------------------------------------------------
# BARRA SUPERIOR
--------------------------------------------------------------*/
.dc-menu-sup {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 auto;
    height: 40px;
    align-content: center;
    align-items: center;
    background-color: #FFF;
}

.dc-menu-sup-cont {
    display: flex;
    width: 100%;
    max-width: 1320px;
    flex-wrap: wrap;
    background-color: #FFF;
    color: #173268;
    justify-content: center;
    margin: 0 auto;
    font-family: HelveticaLight;
    font-size: 0.8rem;
    height: 40px;
}

.menu-roles {
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center; 
    align-content: center;
}

.menu-roles ul {
    display: flex !important;
    justify-content: flex-start !important;
    list-style: none !important;
    width: 100% !important;
    margin: 0;
    padding: 0;
}

.menu-roles ul li {
    display: flex;
    padding: 0px 10px;
    list-style: none;
}

.menu-roles ul li a {
    display: flex;
    list-style: none;
    color: #494949;
    cursor: pointer;
}

.menu-gobierno {
    width: 40%;
    height: 40px;
    display: flex;
    align-items: center;
    align-content: center;
}

.menu-gobierno ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu-gobierno ul li {
    display: flex;
    margin: 0px 10px;
    list-style: none;
}

.menu-gobierno ul li a {
    display: flex;
    list-style: none;
    color: #494949;
    cursor: pointer;
}

.dc-redes {
    width: 10%;
    height: 40px;
    display: flex;
    align-items: center;
    align-content: center;
}

.dc-redes ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.dc-redes ul li {
    display: flex;
    margin: 0px 3px;
    list-style: none;
}


.portlet-journal-content .journal-content-article img,
.portlet-journal-content .journal-content-article .cke_widget_image {
    max-width: 100%;
}

.dc-redes ul li img {
    width: 25px;
    height: 25px;
    color: blue;
}


a {
    text-decoration: none;
    background-color: transparent;
}

/* --------------------------------------------------------------
# NAVEGACION
--------------------------------------------------------------*/
.menu-principal {
    display: flex;
    color: #FFF;
    width: 100%;
    background-color: #173268;
    height: 50px;
    flex-wrap: nowrap;
    margin: 0 auto;
    justify-content: center;
    font-family: HelveticaLight;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1320px;
    font-family: 'HelveticaLight';
    font-size: 0.9rem;
    align-items: center;
}

.menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    justify-content: center;
    max-width: 1320px;

    /* margin-block-start: 1em; */
    /* margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px; */
}

.menu ul li {
    display: flex;
    padding: 0px 10px;
    list-style: none;
}

.menu ul li .menu-link {
    font-size: 18px;
    color: #FFF;
}

/* ---------------------------------- */


/* --------------------------------------------------------------
# BANER VIDEO 
--------------------------------------------------------------*/
.baner-video-container {
    position: relative;
    background-color: black;
    height: 450px;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    background-repeat: no-repeat;
    background-position: center 41%;
    -webkit-background-size: cover;
    background-size: cover;
    top: 90px;
}

.baner-video-container .escudo {
    z-index: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.baner-video-container .escudo img {
    height: 400px;
}

.baner-video-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: 100;
}

.baner-video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

video {
    object-fit: contain;
}